# Scratch Python Notebook

In [1]:
x =3 
y = 3.0
x+y

6.0

In [2]:
for i in range (0,12,2):
    print(i)

0
2
4
6
8
10

In [3]:
i =2
while i < 12:
    print(i)
    i+=3

2
5
8
11

In [4]:
# Modulo example - module tests for ramainders in a calculation.
# For example, 22 % 3 is 1 because 22/3 is 21 remainde 1

In [5]:
for i in range (0,10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [6]:
for i in range (0,5):
    if i % 2 == 0:
        print(i)
    else:
        print (i+10)

0
11
2
13
4

In [7]:
for i in range (0,5):
    if i % 3 == 0:
        print(i)
    elif i % 3 == 1:
        print(i+10)
    else:
        print(i-10)

0
11
-8
3
14

In [11]:
def my_abs(val) :
    if val < 0 :
        return -val
    return val
print(my_abs(-9))

9

In [17]:
#No return value so none is assigned as the return value
def print_abs(val):
    if val < 0:
        print (0-val)
    else:
        print(val)
    
x = print_abs(-2.7)
print(x)

2.7
None

In [23]:
def inc_val(val):
    val = val + 1
    return val #returns 'none' without this in the function

x = 7
inc_val(x)
print(x)
print(inc_val(x))

7
8

In [1]:
def swap(val1, val2):
	tmp = val1 #assign val1 to a temp variable
	val1 = val2 #swap 1 with 2
	val2 = tmp #swap 2 with the temp value of 1

x = 6
y = 3
swap(x, y) #swaps them only in the function
print(x,", ",y) # prints the normal values of x and y

6 ,  3

## String Functions

In [27]:
my_word = "HELLO"
word.lower()

'hello'

In [28]:
my_word = "hello"
word.upper()

'HELLO'

In [31]:
'1' + '2'
'hello' +' world'

'hello world'

In [38]:
' hello'*5 + ' world'*5

' hello hello hello hello hello world world world world world'

### Strip Function

** These are examples using the strip function on strings
- Remving spaces and lines
- Removing certain charachters in a string
- Splitting words

In [42]:
s = '    Extras \n'
print (s)
s.strip()

    Extras

'Extras'

In [44]:
s = '***Science***'
s.strip('*')

'Science'

In [45]:
s = 'let\'s split the words'
s.split(' ')

["let's", 'split', 'the', 'words']

In [47]:
s = 'Kennedy, Lincoln, Madison'
s.split(',')

['Kennedy', ' Lincoln', ' Madison']

### Slicing

** Breaking a string into a subset is called slicing

In [51]:
#Slice a word / Hello has the number of charachters 0,1,2,3,4 this includes 1 and 2 and excludes 3
word = 'hello'
word[1:3]

'el'

In [52]:
word = 'hello'
word[4:7]

#Doesn't return an error, just outputs charachter 4

'o'

In [54]:
word = 'hello'
word[-4:-1] # work the string backwords

'ell'

### Substring Testing

In [57]:
word = 'Hello'
'HE' in word

False

In [58]:
word = 'hello'
word.find('el')

1

In [59]:
word = '1234'
int(word)

1234

In [60]:
word = '1234'
float(word)

1234.0

In [65]:
statement = ' we love {} {} '
statement.format('data','analysis')

' we love data analysis '

In [71]:
list = [11,22,33]
list
list[1]

for i in list:
    print(i)
    
#for i in range(0,len(list)):
    #print(list[i])

11
22
33

In [73]:
list = [11,22,33]
list[1] = 95

list[1]

95

In [78]:
#Append and remove items from a list
#Use brackets for lists
list = [11,22,33]
list.append(44)

list

list.pop(2)
list

list.remove(44)
list

[11, 22]

In [94]:
#Use paranthesis for tuples and tuples and immutable
tuple1 = ('honda', 'civic', 4, 2017)
tuple1
tuple1[1]
len(tuple1)

4

In [116]:
#Using dictionaries/ use curly braces for dictionaries
dict = {('ghostbusters',2016): 5.4, ('ghostbusters',1984):7.8}
dict[('ghostbusters',2016)] #retrive a key value
dict[('cars',2006)] = 7.1 #add to the dictionary
dict

x = dict.get(('cars',2006))
x

x = dict.get(('toy story',1995))
x == None #returns true

('toy story',1995) in dict # returns false

dict.pop(('ghostbusters',2016))
dict

del dict[('cars',2006)] #won't return a value
dict

for i in dict:
    print(i)

for key, value in dict.items():
    print(key,":", value)

('ghostbusters', 1984)
('ghostbusters', 1984) : 7.8

In [120]:
dict = {('ghostbusters',2016): 5.4, ('ghostbusters',1984):7.8}
dict[('cars',2006)] = 7.1 #add to the dictionary

to_remove =[]
for i in dict:
    if(i[1] < 2000):
        to_remove.append(i)

for i in to_remove:
    dict.pop(i)

dict

{('cars', 2006): 7.1, ('ghostbusters', 2016): 5.4}

In [133]:
#Using list comprehension
list = [i**2 for i in range(1,11)] # i**2 is the square of a number

list = [ i for i in range(0,6)]
list = [i for i in range(0,20,2)]

import random
list = [random.randint(1,30) for i in range (0,10)]
list

[2, 28, 11, 24, 20, 19, 8, 8, 3, 25]

In [139]:
dict = {i : i**2 for i in range (1,11)}
dict

dict = {i : chr(i) for i in range (65,91)}
dict

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}